# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
db.sqlite3
db.sqlite3-journal
*.log
staticfiles/
media/

# Env
.env
.env.*
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
